[2018-04-23 02:33] josephhutch opened #1 "Add home button at bottom of singles page"

[2018-04-23 02:35] josephhutch opened #2 "Create categories page to view all posts in a category"

[2018-04-23 02:36] josephhutch opened #3 "Create quote card"

[2018-04-23 02:37] josephhutch opened #4 "Create image card"

[2018-04-28 05:01] #1 closed

[2018-04-28 05:01] #2 closed

[2018-04-28 05:01] josephhutch opened #5 "Switch menu to use javascript and clean up css"

[2019-01-02 19:37] N07070 opened #7 "Unable to create post because of unexpected key when processing archetypes."
Hello.

First of all, thanks a lot for this theme, it's really beautiful.

I've tried to use it and install it, but when I create a new post I get this error :

[code]

It seems to have been fixed by deleting the content of the Date and Title line of the __aether/archetypes/post.md__ file, leaving them blank upon generating the website.

I hope it will be fixed in future releases !

[2019-01-02 19:51] josephhutch commented on #7
@N07070, can you paste the front matter for the post you are having trouble with?  I'd like to take a look at it and make sure everything is okay on my end.  I'm glad you like the theme!

[2019-01-02 19:52] N07070 commented on #7
I'm sorry, I don't understand what you mean by "the front matter" ?

You're welcome ! It's gonna be live soon.

[2019-01-02 19:57] josephhutch commented on #7
For a post, the [Front Matter](https://gohugo.io/content-management/front-matter/) will look something like this
[code]
Also, what version of Hugo are you using (`hugo version`)?

[2019-01-02 19:57] N07070 opened #8 "Using local images for background does not work."
The following does not work, maybe because it's a gif, maybe because it's a locally-hosted image ?

In config.toml
[code]

Thanks for your work !

[2019-01-02 20:14] N07070 opened #9 "Remove calls to Google Services and host dynamic content locally."
Currently, the theme comes bundled with calls to several websites, including some googleapis. They are mostly calls for javascript files that are used to render content.

It could improve performance and would improve privacy to have theses files locally hosted, and updated with the theme when needed, rather than serve third-party code to the website.

It was stated in the original blog post of ae

[2019-01-02 20:44] josephhutch commented on #8
Image paths should are in respect to the root Hugo project directory.  In your case, I think you need `/img/background.gif`.

[2019-01-02 22:59] N07070 commented on #7
Indeed, I was using a very old version. I updated it and am now using the apt version.

I reverted my changes, and now all if working fine. Thanks for the help !

[2019-01-02 22:59] #7 closed

[2019-01-02 22:59] N07070 commented on #8
Indeed, perfect !

[2019-01-02 22:59] #8 closed

[2019-01-03 17:48] josephhutch commented on #5
Fixed in commit 26e4dbfa7a3838617c51aa5a756dc02039713ac4

[2019-01-03 17:48] #5 closed

[2019-01-03 17:54] josephhutch commented on #9
@N07070 Sorry but I prefer to use CDNs to host these files for the better chance of a cache hit.

[2019-01-03 17:54] #9 closed

[2019-01-03 18:05] josephhutch opened #10 "Create a 404 page"

[2019-01-05 10:54] onedrawingperday opened #12 "Aether Theme Assets missing on the Hugo website"
Hello @josephhutch

I am one of the people who maintain the Hugo Themes repository and I noticed that the theme demo does not load its assets on the Hugo website.

As stated in the [README](https://github.com/gohugoio/hugoThemes#common-permalink-issues) of the Hugo Themes repository if a forward slash `/` is used in the beginning of a `URL`, it will point to the host root and Hugo will not generat

[2019-01-08 15:17] josephhutch commented on #12
@onedrawingperday, Thank you for catching this.  I have corrected this issue in commit f70edfd9a3f104b7393eda869bea6f2ba609360a.

cc: @digitalcraftsman

[2019-01-08 15:51] onedrawingperday commented on #12
@josephhutch

Thank you for the fix. I have tested the theme demo with the Hugo website build script and now the CSS, JS and the favicon all load fine.

However you also need to eliminate the first forward slash `/` from the `featuredImage` parameter in all content files under `exampleSite/content/post/` for these images to load.

Please do this and let me know.

[2019-01-08 16:11] josephhutch commented on #12
@onedrawingperday, done (cc36cd18ea9ea71ef9da1fd9df1f90cea5d73bd1).  Thank you for all your help and for your contribution to the Hugo project!

[2019-01-08 18:47] digitalcraftsman commented on #12
I've updated all Hugo themes in https://github.com/gohugoio/hugoThemes/commit/afc86df700662398d5eb56411be56ab714cf59d8.

[2019-01-21 03:42] cntrump opened #13 "homepage layout don't support mobile browser"
iphone 8 plus, iOS 12 safari
my site: https://lvv.me

![](https://github.com/cntrump/pics/raw/master/aether/homepage.jpg)

[2019-01-21 05:08] josephhutch commented on #13
Your third card has text that is longer than the width of the screen.  I'll investigate a fix tomorrow as it is getting late here.

[2019-01-22 01:40] cntrump commented on #13
It works! thanks very much!

[2019-01-22 01:40] #13 closed

[2019-01-27 11:27] cntrump opened #15 "img/grey-cloud.jpg is too big"
It is neccesary? load slowly... sad...

[2019-01-27 16:55] josephhutch commented on #15
Yea, I need to crop and compress that image.  If you do it yourself, submit a pull request 👍🏼

[2019-01-28 01:59] cntrump commented on #15
After crop, 1920x495 is still too big, I think you can try reduce width or let user custom in config.

[2019-01-28 02:06] josephhutch commented on #15
@cntrump, you can customize the 'homeimg' in the config file.  I can crop the photo down to 1200x400  but I don't want to go any smaller because of high resolution displays (4k/5k)

[2019-01-28 02:13] #15 closed, assigned to nobody

[2019-01-30 02:28] cntrump opened #17 "Safari: sometimes code block can't scroll"
test page [here](https://boringdocker.com/post/2019-01-28_docker-nginx/), tested macOS 10.14.3/Safari and macOS 10.14.2/Safari
sometimes refresh page is OK, I check the css and found that:

![](https://github.com/cntrump/pics/raw/master/aether/cannotscroll.png)

![](https://github.com/cntrump/pics/raw/master/aether/bottom.png)

[2019-01-30 06:16] cntrump commented on #17
Path ?
[code]

[2019-01-30 11:25] thelazyoxymoron opened #18 "Support for Email newsletters"
Hi,

Love this theme. I'm currently using it for my blog. I tried to integrate some kind of email newsletter service (using MailChimp or Tinyletter), but almost every method requires a RSS feed for the service to work. Is there any way that we can generate a RSS feed of the content?

[2019-01-30 14:18] josephhutch commented on #18
Aether does support RSS.  The RSS XML file is located at /index.xml on your site.  I think RSS support could be improved though so I will work on that.

[2019-01-30 14:20] josephhutch commented on #17
@cntrump, I will investigate this issue when I get home tonight.

[2019-01-31 06:59] siddhugolu commented on #18
@josephhutch Cool! I was able to get the feed working. However, as you also mentioned, there are some improvements that are required for parsing the feed. Currently, when I pass the feed given by my site's /index.xml, it only generates a shortened version of the post (only the first paragraph in my 'About Me' section) and without any image. I've attached a screenshot on how the feed currently look

[2019-01-31 14:09] josephhutch commented on #18
@siddhugolu, adding the featuredimage to rss is next on my list.  I will work on that today :)

[2019-01-31 23:08] cntrump commented on #17
BTW, I try prismjs on my [blog](https://blog.lvv.me), I feel it is better than hljs 🤣

[2019-02-01 14:19] josephhutch commented on #17
@cntrump, I agree, I'll go ahead and change it. Does prismjs solve the code scroll issue? I really your blog background by the way!

[2019-02-01 15:22] cntrump commented on #17
@josephhutch , thanks, I found the background at [toptal](https://www.toptal.com/designers/subtlepatterns/cubes/)

[2019-03-23 12:10] leason opened #20 "Best practice for page bundle image paths in smallimg?"
Love the theme - many thanks for sharing it.  What's the best way to reference a page bundle image in a post?

Given this structure:
[code]
What should the src of a <smallimg> in index.md be?

[2019-03-23 17:01] josephhutch commented on #20
I'm glad you like the theme! You would reference the image like this

`src="posts/article1/headshot.png"`

The `src` property is a root-relative link.  Let me know if you have any other questions :)

[2019-03-25 14:17] muzzol opened #21 "add option to show full content on index"
I would like to have an option to display full posts on main page, and only if I specify a summary it's displayed.

I know I can remove description, but then the text loses all format. maybe an option to not losing format when removing description could be enough.

thanks in advance

[2019-03-26 11:24] leason commented on #20
Got it, that works great.  Many thanks.

[2019-03-26 11:24] #20 closed

[2019-03-27 14:42] josephhutch commented on #21
That's a good idea!  I'm considering creating a new content type for this.  Maybe call it "short"?

I will be working on this but I am very busy at the moment. So, don't hold your breath :)

[2019-03-28 19:36] leason opened #22 "Social media sharing buttons?"
If I wanted to enable twitter/linkedin sharing for posts it appears I'd need to update the theme.  I'm happy to make this enhancement but want to make sure this isn't already in the works.  Is anyone else working on social media sharing yet?

[2019-03-28 20:06] leason opened #23 "How to enable RSS feed support"
It looks like there is built in support for RSS in Hugo but I can't figure out how to enable it.  Is that a theme level setting?

[2019-03-28 21:05] josephhutch commented on #23
RSS is enabled by default.  The theme should generate an index.xml file at the root of you site that will enable RSS readers to scrape your site.  If that isn't working, let me know and I'll investigate

[2019-03-28 21:07] josephhutch commented on #22
You are correct that this is not implemented and I don't think anyone is working on it.  If you adding social media sharing I would really appreciate it 👍

[2019-03-30 00:36] leason commented on #23
Ah, just didn't know where to look - thanks!

[2019-03-30 00:36] #23 closed

[2019-03-30 01:50] leason commented on #22
No problem - I've got a twitter share button working already.  I need to style it up and add LinkedIn and then I'll submit a PR.

[2019-03-30 02:36] leason commented on #22
What's the best way to generate the minified CSS, @josephhutch ?  I can write CSS but I've been out of that game a while.  For dev I updated head.html to refer to styles.css but before I submit the PR I want to fix that.

[2019-03-31 02:58] josephhutch commented on #22
I use the ([uglifycss command line tool](https://www.npmjs.com/package/uglifycss) to minify the css files into one sheet.  Thank you for you work on this!
[code]

[2019-04-13 16:39] kmahyyg opened #27 "[feature request] add APlayer"
[APlayer is a powerful and elegant HTML5+JS Player](https://github.com/MoePlayer/APlayer)

This Player is widely used on the third large video streaming site in China, bilibili.com. and also other sites.

This player offers a beautiful and easy-to-integrate ability for both blog writer and theme devs.

As a man who was trying to migrate from Hexo to Hugo with your theme, this might be the last but

[2019-04-13 16:43] kmahyyg commented on #27
https://github.com/MoePlayer/hexo-tag-aplayer  This is the Hexo plugin I use before. Really nice, steady and easy.

[2019-04-14 03:56] kmahyyg commented on #27
Issue closed for preparing a pull request...

[2019-04-14 03:56] #27 closed

[2019-04-15 12:41] kmahyyg opened #29 "Error while generating"
[code]

Not working with the `--minify` parameters while trying to generate, please check if there's anything wrong with your template. I've already checked that my front matter is correct.

[2019-04-19 16:34] siddhugolu opened #30 "Show the post only in categories"
Is there any way to show some posts only through the Categories section? For example, by setting both "displayInMenu" and "displayInList" as false, while applying it to some category by setting "categories". When I do exactly this, it doesn't show up in the categories at all.

[2019-04-30 15:33] josephhutch commented on #30
There currently is no way to accomplish that.  `displayinlist` removes the post from all list pages, the categories page as well

[2019-05-08 07:21] pabouttier opened #31 "Image rotation ?"
I love your great theme, a lot of thanks!

Just a problem on my side: I try to include an (portrait) image in my article (in the body or with the featuredImage parameter. After building, it appears that the image is always rotated (in landscape). Do you have any idea to tackle this issue?

Many thanks again

[2019-06-28 15:13] gadelkareem opened #34 "[Feature Request] add featuredImageLink"
It would be great if we can add a link to the main featured image sometimes

[2019-07-08 15:17] josephhutch commented on #34
Where would you like the link to appear?  I'm assuming you are suggesting making featuredImageLink a front matter parameter.  Can you explain why you wouldn't want to add the link manually?

[2019-07-08 17:12] gadelkareem commented on #34
I am actually not sure how to add it manually. Is there a way to add anchor link to the featured image?

[2019-07-08 17:36] josephhutch commented on #34
Sorry, I am a little lost.  Can you clarify what you are trying to do?  Are you trying to make the image itself a link, or are you trying to add a text link to the image?

[2019-07-08 18:54] gadelkareem commented on #34
I meant something like
[code]
So the image would have a link since it is the first big element on the post.

[2019-07-08 19:34] josephhutch commented on #34
What would be the use case for this?

[2019-07-08 19:39] gadelkareem commented on #34
I use the feature with Wordpress to display a bigger image like in https://gadelkareem.com/2018/10/23/deploy-a-docker-registry-with-letsencrypt-certificates-on-ubuntu-18-04/ but generally it could be useful to link to another page.

[2019-07-08 19:50] josephhutch commented on #34
Thank you for the suggestion but I don't think this would fit in with the simplicity of the theme.  If you have any other feature requests, I'm happy to hear them.

[2019-07-08 19:50] #34 closed

[2019-07-18 17:35] josephhutch commented on #29
I've tested my site using the --minify option and I am not able to replicate this error.  Can you provide more information about the installation-and-configure-of-riot-im-ser page that the error occurred on?

[2019-07-18 17:40] josephhutch commented on #31
I'm unable to reproduce this issue.  Can you provide a link to your site where this is happening?

[2019-07-19 06:57] pabouttier commented on #31
Here the website : https://pabouttier.me/posts/amsterdam/
Here the associated repo : https://github.com/pabouttier/pabouttier.github.io

[2019-07-19 13:12] josephhutch commented on #31
The theme is not rotating your image, it is displaying the picture in the orientation it is saved in. See [https://pabouttier.me/img/canal_perdu.jpg](https://pabouttier.me/img/canal_perdu.jpg).  You must rotate the image using a photo editing application.

[2019-07-19 13:12] #31 closed

[2019-07-22 23:18] bronze opened #35 "multiple srcset images with webp suport"
hi there
do you know if we can use the resize pipeline to create multiple .webp images?
im following https://dev.to/stereobooster/responsive-images-for-hugo-dn9 to create a srcset, tried adapting your .webp import but you get only the original right?

cheers

[2019-07-23 12:59] josephhutch commented on #35
Unfortunately image processing in Hugo does not support .webp images.

[2019-07-23 13:01] josephhutch commented on #30
Closing as there has been no activity on this thread and there are no plans to implement this feature.

[2019-07-23 13:01] #30 closed

[2019-07-24 02:15] skylancers opened #36 "failed to render shortcode "smallimg", featuredImage didn't show up"
when I copy all the files from exampleSite folder this is what happened,
Result:
![Untitled-1](https://user-images.githubusercontent.com/52638665/61759117-992b8300-adf1-11e9-8ff9-38d20dfe5ca0.jpg)
I try this in localhost and Netlify and has the same result.

If I delete aether-features.md site work normally but the featuredImage didn't show up
Result:
![Untitled-2](https://user-images.githubuserco

[2019-07-24 14:39] josephhutch commented on #36
Sorry, I made changes to the way images work over the weekend but didn't update the example site.  The latest commit fixes these issues.  Let me know if you run into any other issues.

\* One thing to note is that the image and smallimg shortcodes look for the image using the name field.  If you overwrite the image name in the resources section of the front matter, you will need to use the new nam

[2019-07-24 15:26] skylancers commented on #36
Thank you very much, everything works fine now.

[2019-07-24 15:45] #36 closed

[2019-07-24 21:40] #35 closed

[2019-08-07 15:36] viralpoetry opened #38 "Define specific category that should be rendered on a home page"
Hi Joe,

I would like to ask if it's possible to define specific category that should be rendered on a home page.
I saw that there is no index html template, but as I understand it, it's rendered from `single` & `home-card` templates.

I am not sure how to change template so it's not iterating over all articles by date, but to show just one category (as listed by selecting some menu item)

Thanks

[2019-08-08 17:59] mikijov opened #39 "featuredImage does not show for non-index.md pages"
I have articles in many places. For example
/content/page1.md
/content/post/page2.md
/content/post/page3/page3.md
/content/post/page4/index.md
Even when they have identical content, only page4 featuredImage will show up. I am getting no relevant warnings or other messages when running hugo with --verbose --debug.

[2019-08-08 19:11] josephhutch commented on #39
Since aether uses the Hugo concept of [Page Bundles](gohugo.io), only articles named index.md in a leaf will include the featured image.  [Page Resources](https://gohugo.io/content-management/page-resources/) can only be accessed from within these Leaf Bundles so I cannot make any changes to support this content hierarchy.  Let me know if you run into any trouble correcting this issue in your site

[2019-08-09 09:28] mikijov commented on #39
Hmm... Even though I submitted couple of PR's my knowledge of Hugo is only superficial, so I am not confident making design suggestions... The old way of using featuredImage worked. I am curious, is there a way to have separate layout/template for non-resource-bundle pages? Maybe continue using featuredImage there, or find some other way to add images to them.

The main reason I ask is that using

[2019-08-09 13:07] josephhutch commented on #39
I will change the post template to work for all single pages.  That way, renaming content/license.md to content/license/index.md will solve the issue.  Thank you for bringing this to my attention.

[2019-08-12 09:09] mikijov commented on #39
Hi Joseph. No (big) rush on this, but I am curious if you could make a guess at when you might fix this? I am trying to decide if I should wait few days or if I should go to the older version of Aether. I cannot update my site with latest code without breaking something.

[2019-08-12 13:21] josephhutch commented on #39
Sorry for the delay @mikijov.  I misunderstood your issue so the fix I had in mind would not work.  I think the issue may be in your site layout.  Do you have your site source somewhere I could take a look?  Renaming 'content/license.md' to 'content/license/index.md' should solve your issue and you should not get that warning.

[2019-08-12 16:34] mikijov commented on #39
It's a private repo at https://bitbucket.org/mikijov/haker-site. If you have an account there I can give you access.

[2019-08-14 07:53] mikijov commented on #39
OK, I reproduced the problem on a new site. I simply created new Hugo site `hugo new site aether-test`, added theme `git clone https://github.com/josephhutch/aether.git themes/aether` and added single content page in `content/intro/index.md` with an image `content/intro/wopr.jpg`. The result site is attached.
[aether-test.tar.gz](https://github.com/josephhutch/aether/files/3500324/aether-test.tar.

[2019-08-14 10:40] Barsonax opened #41 "Add Open Graph Meta Tags"
Adding these should result in a better preview for instance when linking a website build with aether

https://ogp.me/

[2019-08-20 10:39] mikijov commented on #39
Thanks @josephhutch. Your latest commit fixes my problem, so top level content pages work `/content/page-name/index.md`.

[2019-08-20 10:39] #39 closed

[2019-09-19 22:59] eddex opened #43 "[feature request] add option to override/extend css"
It would be great if one could customize the theme with additional css files.

Something like:
[code]
see also: https://discourse.gohugo.io/t/how-to-override-css-classes-with-hugo/3033

[2019-09-28 19:10] josephhutch commented on #43
Similar functionality added in #37 that allows you to override css.

[2019-09-28 19:10] #43 closed

[2019-10-25 15:22] kbkesit opened #44 "Can't use smallimg shortcode"
It seems the smallimg shortcode isn't working properly. Does anyone else have the same issue?

[2019-10-28 15:15] josephhutch commented on #44
Can you provide an example of this issue in a public repo?  I would like to take a look.

[2019-11-17 02:58] fwantastic opened #45 "cannot use static images for card image"
I may be missing something of how to configure this properly. It seems like static images cannot be used as a card image anymore. If I revert the changes for `li.html` it works fine. I use the same images for the posts that fall into similar categories so it doesn't make sense for me to have different card images for every posts. Is it possible to add this feature back?

[2019-11-17 15:46] josephhutch commented on #45
I updated the theme to use [Page Bundles](https://gohugo.io/content-management/page-bundles/).  With this method you get automated image resizing.  I will investigate a way to still support the static use case.

[2019-11-17 21:28] fwantastic commented on #45
cool. thank you! I think aether is one of the great looking theme among others

[2019-12-15 23:47] noliverio opened #46 "Add support for self hosting external js libraries."
It would be good to provide the option to self host the external javascript and css libraries  ie. highlights.js, katex, etc. As an alternative to using the scripts provided by the CDNs.

[2019-12-24 00:01] #45 closed

[2020-01-07 11:46] diogodh opened #47 "Workaround for rel="alternate" due to google podcasts rule"
I'm using your theme on my podcast home page. By default, aether creates the following index.html code
`"<link rel="alternate" type="application/rss+xml" href="/index.xml" title="Title" />`

However, google has a rule that to a podcast be indexed it can only have one instance of `<link rel="alternate"` and needs to the the one from google
`<link type="application/rss+xml" rel="alternate" title="Ti

[2020-01-13 06:49] felipe1982 opened #48 "Category page not found"
I installed aether, but Category pages do not seem to be working correctly.

You can checkout [my branch] and run "hugo server" and visit one of the Categories (from Hamburger menu)

[my branch]: https://github.com/felipe1982/hugo-blog/tree/broken-theme-aether

[2020-01-13 06:58] felipe1982 commented on #48
--debug gives

[code]

[2020-01-13 07:07] felipe1982 commented on #48
Seems to get upset when `uglyurls = "true"` is set in config.toml

[2020-01-13 14:53] josephhutch commented on #48
Thank you for submitting this issue.  I checked out your site and I see what needs to be done.  I'll issue a fix soon.

[2020-01-13 16:46] josephhutch commented on #48
This issue has been fixed in bb853da.  Please let me know if you have any other issues.

[2020-01-15 14:05] #48 closed

[2020-01-26 14:10] josephhutch commented on #44
Hi @kbkesit, I have made some improvements to the `smallimg` shortcode.  Let me know if it is working better for you.

[2020-02-05 11:14] #29 closed

[2020-02-14 09:16] ST2-EV opened #49 "featured image for a post not working"
I added the image to the static folder and gave the filename for source but no change is reflected
![Screenshot from 2020-02-14 14-45-14](https://user-images.githubusercontent.com/40699517/74517730-a8625180-4f38-11ea-821b-000d5dd1ec47.png)

[2020-02-14 14:27] josephhutch commented on #49
Aether takes advantage of [page bundles](https://gohugo.io/content-management/page-bundles/) to optimize your images for your site.  This may require you to update the way your content is structured, also see [content organization](https://gohugo.io/content-management/organization/).

For instance, if your webpage is www.joehutch.com/posts/aether-theme/ then the markdown for the page should be wri

[2020-02-14 17:00] #49 closed

[2020-02-14 17:00] ST2-EV commented on #49
thanks for the quick response
just put the image inside the posts folder worked for me

[2020-02-14 17:01] ST2-EV opened #50 "How do ichange the color of certain text, html tags dont seem to work"

[2020-02-14 18:35] josephhutch commented on #50
Using html tags to change text color does work.  I verified the following example `<p style="color:blue;">Hello World!</p>` works on my site.  To modify the themes css see https://github.com/josephhutch/aether#overriding-css

[2020-02-15 02:10] ST2-EV commented on #50
![Screenshot from 2020-02-15 07-38-45](https://user-images.githubusercontent.com/40699517/74580082-55cf7680-4fc6-11ea-8fb0-c9c03b950c3f.png)
I get this when I add that, what could be the problem?

[2020-02-15 02:21] ST2-EV commented on #50
Also there is no assets folder in the project root should i make one or is there supposed to be one?
Sorry kind of a noob here!

[2020-02-15 02:25] ST2-EV commented on #50
Also, how do I achieve a parallax effect with the bg image,
tried adding this in override.css:
[code]
it doesn't work
Sorry kind of a noob here

[2020-02-15 04:38] josephhutch commented on #50
No worries.  Since the background is actually set in the html, you need to use `!important` as shown below.

[code]

[2020-02-15 05:01] ST2-EV commented on #50
thanks a lot man

[2020-02-15 05:01] #50 closed

[2020-02-19 11:51] ST2-EV opened #51 "I get this error whe i try to use short codes for images"
![Screenshot from 2020-02-19 17-20-19](https://user-images.githubusercontent.com/40699517/74831917-37f27080-533c-11ea-98d6-6341f864c203.png)

[2020-02-19 12:02] #51 closed

[2020-03-17 18:44] RaphaelSilv opened #53 "Add icon on title bar"
Hi folks, I've been struggling with this simple task.
I've followed everything on _aether_ [README](https://github.com/josephhutch/aether) in the **Favicon** section and it still not working.

I realized my `layout` folder was empty, so I copied everything from `themes/aether/layouts.`
So far, so good.

 From `layouts/partials` my `head.md` is like so:
[code]

Inside `static` I've placed all the i

[2020-03-28 22:00] sebilozano opened #54 "Featured Image without Page Bundles"
Hi,

I'm trying to get this theme set up with [Forestry CMS](https://forestry.io/), but it doesn't support page bundles. I'm trying to essentially roll back to this commit by filling in the changes: https://github.com/josephhutch/aether/commit/85960b6fa36c93c81d060c61b0e4bafaeb6fb631

However, that doesn't seem to be working. I'm new to editing these themes, but was wondering if you could help me

[2020-03-30 00:49] josephhutch commented on #54
Hi Sebi, I would love to help.  What do you mean when you say the theme does not support page bundles?  The commit you referenced was when the theme improved page bundle support and that support has not changed since.  Is there something specific that isn't working?

[2020-03-30 00:52] sebilozano commented on #54
Hi Joe -- thanks for the quick response. I meant that Forestry's CMS doesn't support page bundles/resources, which means it doesn't support Aether as of now. I'm trying to make Aether work without the use of page bundles and instead by referencing static/. Does that make sense?

[2020-03-30 01:00] josephhutch commented on #53
I found the issue.  I'll issue a fix shortly.

[2020-03-30 01:06] josephhutch commented on #54
Many changes following 85960b6 have used page bundle features.  I would roll back before that commit to revert all those changes.  You will loose the newer features but the theme should be compatible with Forestry.

[2020-03-30 23:16] RaphaelSilv commented on #53
Looking forward, @josephhutch. Great job written `aether` btw.

[2020-07-14 00:10] josephhutch commented on #53
Fixed in 77dbbb025499ee602303747d2d9e6afbe3015570.  Sorry this took so long!

[2020-07-14 00:10] #53 closed

[2020-07-14 00:11] #54 closed

[2020-07-15 03:37] josephhutch commented on #47
By default Hugo includes RSS as a default output format.  To remove the the RSS link and to include your podcast's feed.xml see [this docs section](https://gohugo.io/templates/output-formats/#customizing-output-formats).  That whole page on custom output formats should be helpful.

[2020-07-15 03:43] josephhutch commented on #17
The code highlighter has moved from a js client side highlighter to Hugo's chroma highlighter.  I have not observed this issue but given the changes I am going to close this issue.

[2020-07-15 03:43] #17 closed

[2020-07-15 04:22] josephhutch commented on #41
This feature has been added in 9225ccd9aba2396d0b10d9e11718abb42dd2f294 and 66876e43de81542e411a0b482b4c256b6006cd2f.  Let me know if you have any questions or issues.

[2020-07-15 04:22] #41 closed

[2020-07-18 06:01] mukhtharcm opened #57 "Add Dark Mode"
Hi,
It'll be cool if you can add dark mode option in the theme. Nowadays lot of people prefer dark themes. 😃

[2020-07-18 12:18] mukhtharcm opened #58 "bgimg not working"
# bgimg is set, but not working.
I Just copy pasted the whole exampleSite directory, but the background image is not showing.
I really loved this theme, but this thing is holding me back.
dont take this as disturbance.
Thank you.

[2020-07-21 02:56] josephhutch commented on #58
You are correct, sorry about that.  This is fixed in d484fb73fcfc57a8fa6eef48954342a9725209f5.
Sometimes I change the theme and forget to update the exampleSite 😬

[2020-07-21 07:35] mukhtharcm commented on #57
Thank You. 😃

[2020-07-21 07:35] #57 closed

[2020-07-21 07:36] mukhtharcm commented on #58
Thank you for fixing it 😄 🥳

[2020-07-21 11:07] #58 closed

[2020-07-29 15:40] josephhutch commented on #44
@kbkesit I have been using the Smallimg shortcake in my site without any issues.  If you are still experiencing an issue, please comment with a description of the problem you are facing.  Closing this issue for now.

[2020-07-29 15:40] #44 closed

[2020-07-29 15:41] josephhutch commented on #47
@diogodh were you able to solve this issue?

[2020-07-30 08:34] diogodh commented on #47
Hey Joe.
I am very thankful for your help, but as an amateur programing i found that
section too confusing and I would mess up everything for sure.
Even so, thank u for your help and for trying to figure if i solve it.
Diogo

On Wed, 29 Jul 2020, 16:41 Joe Hutchinson, <notifications@github.com> wrote:

[2020-07-31 19:18] snej opened #59 "Render fails if no "bgimg" setting"
The sample config in the README says
[code]
However, it isn't optional -- if there is no `bgimg` entry in `[params]`, rendering the site fails with a bunch of errors of the form:

`Building sites … ERROR 2020/07/31 12:11:39 render of "page" failed: execute of template failed: template: _default/single.html:3:5: executing "_default/single.html" at <partial "head.html" .>: error calling partial: "/U

[2020-07-31 19:38] josephhutch commented on #59
@snej Thank you for pointing this out!  I just submitted a fix in afdc89a74ebc85b03bd12f0d38c4a6f0498b32dc.  Let me know if you have any other issues.  I'm happy to help.

.. I should setup automated testing so these issues don't pop up anymore

[2020-08-03 00:56] josephhutch commented on #47
Add this to your config.toml file.  The rss link tag will be replaced with your podcast's feed tag.  Notice that you get a warning when building your site with these config changes.  You can add a template for your new `PodcastFeed` output format which will automatically generate the feed.xml file and remove the warning.
[code]
I can work on adding a podcast template to the theme but I would like

[2020-08-03 01:47] #59 closed

[2020-08-03 20:31] diogodh commented on #47
I will do it as soon as possible.
About my podcast, most podcast providers request a frontpage for the
podcast, and you can see mine here:

http://medicinacomsotaque.com.s3-website-us-east-1.amazonaws.com/

(amazon s3 hosting)

As for the feed.xml its here

http://medicinacomsotaque.com.s3-website-us-east-1.amazonaws.com/pc/feed.xml

As its an hobbie, I am not spending time with the website, inste

[2020-08-04 21:31] snej opened #60 "Link in post summary breaks layout in list"
In a post-list view (as on the front page), if any post's description/summary contains a hyperlink, the display of that post is mangled: the text falls out of the box and appears below it:
![Screen Shot 2020-08-04 at 2 25 06 PM](https://user-images.githubusercontent.com/43241/89346721-6354e780-d65e-11ea-9d96-a4adc16f9822.png)

The reason is that the `li.html` template uses an `<a>` tag as the oute

[2020-08-04 21:43] snej commented on #60
I figured out how to strip the HTML links from the description text by using the `plainify` filter. But that also turns non-ascii characters into HTML escapes, so I had to run it through `htmlUnescape` too. Here's a diff:

[code]

[2020-08-05 01:11] josephhutch commented on #60
Thanks for opening the issue @snej!  What version of Hugo are you running?  I am unable to reproduce this issue on 0.63.2.  Also, are you doing anything special to put a link in the description?  I tried markdown, html a tag, and an html a tag with the raw shortcode.  I'm happy to fix this, I just want to understand what is going on on my end.

[2020-08-05 22:34] snej commented on #60
I've got Hugo v0.74.3. It could be the browser — I'm using Safari on Mac OS 10.15.

Nothing special for the description ... I've just got some posts with MarkDown links within the first few sentences of the body.

[2020-08-06 22:18] josephhutch commented on #60
Fixed in c0c3158.

I found out that Hugo only preserves html tags in the summary when using the `` summary divider (I'm assuming that's what you were using @snej).  The description parameter is not parsed by Hugo so no need for the plainify function there.  Let me know if you have any other issues.

[2020-08-06 23:03] snej commented on #60
Aha! I was indeed using ``. Thanks for the fix.

[2020-08-06 23:58] #60 closed

[2020-08-21 16:28] MaximilianKoestler opened #61 "Footer partial template not used anywhere"
An empty footer partial template exists at `layout/partials`, but it is not used anywhere, i.e. `{{ partial "footer.html" . }}` is not present in any of the templates.

According to my understanding, this makes adding a custom footer impossible without forking the whole theme.
Since `/layouts/partials/footer.html` is empty by default, it would not hurt using it in the site templates.

I am very ne

[2020-10-15 18:45] josephhutch commented on #46
Self hosting all theme assets is now implemented for aether as of e68d21541aeb9fb3480e3816a404687664d7e796.  Thank you for your patience!

[2020-10-15 18:45] #46 closed

[2020-10-15 20:17] josephhutch commented on #61
Aether does not provide footer support as a design choice.  I can remove the footer partial to remove confusion but footer support is not planned.

[2020-10-15 20:17] #61 closed

[2020-10-15 20:20] josephhutch commented on #47
@diogodh any luck with the output formats fix?  I haven't had a chance to implement a PodcastFeed output format but it's on my list.

[2020-10-18 13:19] diogodh commented on #47
Hey. I just needed to customize the page so I had to hardcode the html and
now i can't go back to hugo and add that fix otherwise i will lose all that
i coded..

I'm both thankful for your help and sorry for have the need to hardcode the
html.

Maybe if there is a podcast output i will change everything.

thanks

On Thu, Oct 15, 2020 at 9:20 PM Joe Hutchinson <notifications@github.com>
wrote:

[2020-10-20 14:13] josephhutch commented on #47
Okay, I am going to close this issue as I have tested the solution above as a fix for the re="alternate" google podcast rule.

[2020-10-20 14:13] #47 closed

[2020-10-20 14:34] diogodh commented on #47
Thank you so much

On October 20, 2020 3:13:40 PM GMT+01:00, Joe Hutchinson <notifications@github.com> wrote:

[2021-08-01 00:40] codeofdusk opened #63 "GitHub/Linkedin links should have alt text"
The profile links for GitHub, etc at the bottom of [the demo site](https://www.joehutch.com/posts/aether-theme/) don't have any alt text. I'm a screen reader user, so I need to click each link to see what it does.

[2021-08-17 15:34] aianshume opened #65 "add theme as submodule"
well, this theme is really OK. there is not issue with it but the problem is when in install the theme by using `git clone (git repo url)` then its installed and work perfectly, but when i deploy site to github pages by using actions, the action show error that `please add themes/aether` as submodule

[2021-08-19 05:19] aianshume commented on #65
well thanks i got the answer from the internet if anybody face any problem like that, then simply at the directory just type `git submodule add https://github.com/josephhutch/aether themes/aether` this will install theme in your themes directory and no problem at deploy to github pages with actions

[2021-08-19 05:19] #65 closed

[2021-08-20 00:59] codeofdusk commented on #63
Closed in #64.

[2021-08-20 00:59] #63 closed

[2021-08-20 01:01] codeofdusk opened #67 "Navigation menu broken when JavaScript is disabled"
STR:

* Disable JavaScript (such as in about:config in Firefox)
* Open an Aether site
* Attempt to open the navigation menu

Expected behaviour: Navigation is somehow possible when JavaScript is disabled.

Actual behaviour: Internal navigation is impossible with JavaScript disabled.

[2021-12-15 23:32] isaacdnew opened #69 "Faceshot not shown"
I'm just getting started with this theme, and I copied the example site into my site. Everything's working great, except that there's no card shown at the right of the blob (see screenshot below). faceshot.jpg is in assets/img/. Any ideas why this is happening?
![image](https://user-images.githubusercontent.com/13858215/146280742-10c12cdd-e4cf-450a-999c-7c598f32d354.png)

[2021-12-16 02:36] heimoshuiyu commented on #69
Add

[code]

into `config.toml` and put image file under `/yourblog/assets/img/`

I think this is missing from the README.md

[2021-12-16 02:49] isaacdnew commented on #69
Thanks so much—that fixed it! Probably a good idea to add that to the readme, then.

[2022-02-07 21:47] josephhutch commented on #69
I've updated the README.  Sorry that this was missing.

[2022-02-09 18:24] #69 closed

[2022-03-02 04:55] petitengineer opened #74 "How do you change the home-blob-text and home-blob-title parameters? Maybe add a way in the config.toml file?"
Hello! I'm new to Hugo, so I apologize if this is a silly question. 😅

I was wondering how one goes about changing the blob title/text that goes beside the head shot. Is there any reason why parameters do not seem to exist in the config.toml for these two strings?

[2022-03-02 18:57] josephhutch commented on #74
Hello 👋
Please see the [Further Customization](https://github.com/josephhutch/aether#further-customization) section of the README.  I agree this could be implemented better.  I'll think it over.

[2022-03-02 20:12] petitengineer commented on #74
Indeed, adding a file named "_index.md" to the content folder of the project with the following code works like a charm:
[code]
If for whatever reason this does not work for someone, and you need **a temporary fix**, you can modify the following lines in the  home.html file in the layouts folder of the theme
[code]
to
[code]
Though this is a **temporary fix**, and you should make a post regarding

[2022-03-02 20:12] #74 closed

[2022-03-04 03:43] josephhutch commented on #67
Thank you for submitting an issue!  I have fixed this in #75.

[2022-04-28 04:18] geeklingo opened #76 "Is it possible to change the blob colors?"
Wanting to change the blob colour to better match my color scheme but can't see where this can be done

[2022-08-24 00:00] josephhutch commented on #76
It can't be done currently but I'll add this to my todo list.

[2022-08-24 00:01] #67 closed